/CompactJVM/nbproject/
/CompactJVM/build/
/CompactJVM/dist/
/CompactJVM/build.xml
/CompactJVM/manifest.mf
/CompactJVM/.classpath
/CompactJVM/.project
/CompactJVMLab/nbproject/
/CompactJVMLab/build/
/CompactJVMLab/dist/
/CompactJVMLab/build.xml
/CompactJVMLab/manifest.mf
/CompactJVMLab/.classpath
/CompactJVMLab/.project
/CompactJVMLab/data/cnf.txt
/CompactJVMLib/nbproject/private/
/SatSolver/nbproject/private/
/SatSolver/build/
/SatSolver/dist/
/CompactJVMLib/dist/
/CompactJVMLib/build/
/SatSolver/nbproject/
/SatSolver/nbbuild.xml
/CompactJVMLib/nbproject/
/CompactJVMLib/nbbuild.xml
